{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block titulo %}Actualizar Prospecto{% endblock titulo %}
{% block dashboard %}
<a class="btn btn-sm btn-icon1 " href="{% url "lista_prospectos" %}">
  <i class="fas fa-arrow-left"></i>
</a>
{% endblock dashboard %}
{% block contenido %}
<div class="dashboard-header">
    <h1 class="dashboard-title">Actualizar Prospecto</h1>
</div>
<form method="post" enctype="multipart/form-data" class="card p-3 mt-5">
    {% csrf_token %}

    {% if form.non_field_errors %}
    <div class="alert alert-danger">
        {% for error in form.non_field_errors %}
            {{ error }}
        {% endfor %}
    </div>
    {% endif %}
    <div class="row">
       
        <div class="col-sm-12 col-md-4 col-lg-3">
            {{form.nombre|as_crispy_field}}
        </div>
        <div class="col-sm-12 col-md-4 col-lg-3">
            {{form.apellido_paterno|as_crispy_field}}
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3">
            {{form.apellido_materno|as_crispy_field}}
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3">
          {{form.alias|as_crispy_field}}
      </div>
    </div> 
    <div class="row">
        <div class="col-sm-12 col-md-4 col-lg-4">
            {{form.genero|as_crispy_field}}
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4">
            {{form.fechaNacimiento|as_crispy_field}}
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4">
            {{form.ocupacion|as_crispy_field}}
        </div>
    </div>     
    <div class="row">

        <div class="col-sm-12 col-md-6 col-lg-6">
            {{form.calle|as_crispy_field}}
        </div>

        <div class="col-sm-12 col-md-6 col-lg-6">
            {{form.numeroCasa|as_crispy_field}}
        </div>
    </div>     
    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-4">
            {{form.celular|as_crispy_field}}
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4">
            {{form.telefono|as_crispy_field}}
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4">
            {{form.email|as_crispy_field}}
        </div>
       
    </div>    
    <button class="btn btn-custom float-end btn-success" type="submit">Guardar</button>
    <br>
    <a href="{% url 'lista_promovidos' %}" class="btn btn-custom1" style='background-color: rgb(132, 40, 40); color: white;'>Cancelar</a>
</form>




  
{% endblock contenido %}


{% block script2 %}

<script>
    $(document).ready(function() {
      $('#date').on('input', function() {
        // Eliminar cualquier carácter que no sea número y añadir slashes automáticamente
        var value = $(this).val();
        var newValue = value.replace(/[^0-9]/g, '')
                            .replace(/(\d{2})(\d{2})?(\d{4})?/, function(match, p1, p2, p3) {
                              var dateStr = p1;
                              if(p2) {
                                dateStr += '/' + p2;
                              }
                              if(p3) {
                                dateStr += '/' + p3;
                              }
                              return dateStr;
                            })
                            .substring(0, 10);  // Limita la longitud a 10 caracteres: DD/MM/YYYY
  
        // Si el valor nuevo es diferente al valor actual, actualiza el campo de fecha
        if (newValue !== value) {
          $(this).val(newValue);
        }
  
        // Calcula la edad y actualiza el campo de edad
        var dob = $(this).val();
        if (dob && dob.length === 10) {
          var parts = dob.split('/');
          var birthDate = new Date(parts[2], parts[1] - 1, parts[0]);
          var today = new Date();
          var age = today.getFullYear() - birthDate.getFullYear();
  
          // Comprueba si ya pasó el cumpleaños de este año
          if (today.getMonth() < birthDate.getMonth() || 
              (today.getMonth() === birthDate.getMonth() && today.getDate() < birthDate.getDate())) {
            age--;
          }
  
          // Actualiza el campo de edad si es una fecha válida
          if (!isNaN(age)) {
            $('#id_edad').val(age);
          } else {
            $('#id_edad').val(''); // Fecha no válida
          }
        } else {
          // Si la fecha de nacimiento no es válida o no está completa, deja el campo de edad en blanco
          $('#id_edad').val('');
        }
      });
    });
  </script>


  <script>
    document.addEventListener('DOMContentLoaded', function () {
        var nombreInput = document.querySelector('[name="nombre"]');
        var apellido_paterno = document.querySelector('[name="apellido_paterno"]');
        var apellido_materno = document.querySelector('[name="apellido_materno"]');
        var detalle_solicitud = document.querySelector('[name="detalle_solicitud"]');
        var detalle_problema = document.querySelector('[name="detalle_problema"]');
        var numeroCasa = document.querySelector('[name="numeroCasa"]');
        var alias = document.querySelector('[name="alias"]');

        var descripcionInput = document.querySelector('[name="descripcion"]'); // Selector para el campo descripción

        function convertirAMayusculas(elemento) {
            if (elemento) {
                elemento.addEventListener('input', function() {
                    this.value = this.value.toUpperCase();
                });
            }
        }

        convertirAMayusculas(nombreInput);
        convertirAMayusculas(apellido_paterno);
        convertirAMayusculas(apellido_materno);
        convertirAMayusculas(detalle_solicitud);
        convertirAMayusculas(detalle_problema);
        convertirAMayusculas(numeroCasa);
        convertirAMayusculas(alias);

    });
</script>

{% endblock script2 %}