{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block titulo %}
    Crear Promovido
{% endblock titulo %}


{% block dashboard %}
<a class="btn btn-sm btn-icon1 " href="{% url "lista_promovidos" %}">
  <i class="fas fa-arrow-left"></i>
</a>
{% endblock dashboard %}
{% block contenido %}
<div class="dashboard-header">
    <h1 class="dashboard-title">Crear Promovido</h1>
</div>
<form method="post" enctype="multipart/form-data" class="card p-3 mt-5">
    {% csrf_token %}
    <h1>Datos del promovido</h1>
    <div class="row">
        <div class="col-sm-12 col-md-4 col-lg-4" style="display: none;">
            {{form.usuario|as_crispy_field}}
            <script>
                document.getElementById('id_usuario').readOnly = true;
            </script>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4">
            {{form.nombre|as_crispy_field}}
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4">
            {{form.apellido_paterno|as_crispy_field}}
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4">
            {{form.apellido_materno|as_crispy_field}}
        </div>
    </div> 
    <div class="row">
        <div class="col-sm-12 col-md-4 col-lg-4">
            {{form.genero|as_crispy_field}}
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4">
            {{form.fechaNacimiento|as_crispy_field}}
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4">
            {{form.ocupacion|as_crispy_field}}
        </div>
    </div>     
    <div class="row">
        <div class="col-sm-12 col-md-4 col-lg-3">
            {{form.direccion|as_crispy_field}}
        </div>
        <div class="col-sm-12 col-md-4 col-lg-3">
            {{form.colonia|as_crispy_field}}
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3">
            {{form.localidad|as_crispy_field}}
        </div>
      
    </div>     
    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-4">
            {{form.celular|as_crispy_field}}
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4">
            {{form.telefono|as_crispy_field}}
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4">
            {{form.email|as_crispy_field}}
        </div>
    </div>    
    <div class="row">
        <div class="col-sm-12 col-md-4 col-lg-12">
            {{form.tipo_solicitud|as_crispy_field}}
        </div>
        <div class="col-sm-12 col-md-4 col-lg-12">
            {{form.detalle_solicitud|as_crispy_field}}
        </div>
    </div>     
    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-12">
            {{form.problema_tipo|as_crispy_field}}
        </div>
        <div class="col-sm-12 col-md-4 col-lg-12">
            {{form.detalle_problema|as_crispy_field}}
        </div>
    </div> 
    <div class="row">
        <div class="col-sm-12 col-md-4 col-lg-3">
            {{form.foto_promovido|as_crispy_field}}
        </div>
        <div class="col-sm-12 col-md-4 col-lg-3">
            {{form.foto_ine_frontal|as_crispy_field}}
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3">
            {{form.foto_ine_reverso|as_crispy_field}}
        </div>
        <div class="col-sm-12 col-md-4 col-lg-3">
            {{form.numeroINE|as_crispy_field}}
        </div>
        <div class="col-sm-12 col-md-4 col-lg-3" style='display:none'>
            {{form.status|as_crispy_field}}
        </div>
    </div>        

    <button class="btn btn-custom float-end btn-success" type="submit">Guardar</button>
    <br>
    <a href="{% url 'lista_promovidos' %}" class="btn btn-custom1" style='background-color: rgb(132, 40, 40); color: white;'>Cancelar</a>
</form>

{% endblock contenido %}