{% extends 'base.html' %}
{% block titulo %}Lista de Promovidos{% endblock titulo %}
{% block dashboard %}
<a class="btn btn-sm btn-icon1 " href="{% url "menu" %}">
  <i class="fas fa-arrow-left"></i>
</a>
{% endblock dashboard %}
{% block contenido %}
<div class="dashboard-header">
    <h1 class="dashboard-title">Lista de Promovidos</h1>
</div>
<style>
    .btn-custom{
        background-color: rgb(17, 87, 157);
    }
</style>

<div class="row">
    <div class="col-lg-4 col-6">
      <!-- small box -->
      <div class="small-box bg-info">
        <div class="inner">
          <h3>{{ contador_global }}</h3>

          <p>Promovidos</p>
        </div>
        <div class="icon">
            <i class="fas fa-users"></i>
        </div>
      </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-4 col-6">
      <!-- small box -->
      <div class="small-box bg-success">
        <div class="inner">
          <h3>{{num_hombres}}<sup style="font-size: 20px"></sup></h3>

          <p>Hombres</p>
        </div>
        <div class="icon">
          <i class="fas fa-male"></i>
        </div>
      </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-4 col-12">
      <!-- small box -->
      <div class="small-box bg-warning">
        <div class="inner">
          <h3>{{num_mujeres}}</h3>

          <p>Mujeres</p>
        </div>
        <div class="icon">
          <i class="fas fa-female"></i>
        </div>
      </div>
    </div>
    <!-- ./col -->

    <!-- ./col -->
  </div>

    <div class="table-responsive">
    

        <table id="tabla" class="table table-striped table-bordered display responsive nowrap" style="width:100%">
            
            <thead>
        
                <tr>
                    <th>Nombre</th>
                    <th>Apellido(s)</th>
                    <th>Numero INE</th>
                    <!-- <th>Puesta</th> -->
                </tr>
            </thead>
            <tbody>
                {% for extranjero in promovidos %}
                <tr>
                    <td>{{ extranjero.nombre}}</td>
                    <td>
                            {{ extranjero.apellido_paterno }} 
                            {{ extranjero.apellido_materno }}
                    </td>
                    <td>{{ extranjero.numeroINE }} </td>
                    {% comment %} <td>
                        <a class="btn btn-sm btn-icon1 tooltip-link" href="{% url 'crearUbicacionPro' extranjero.id %}" data-title="Agregar Datos Biométricos">
                            <i class="fas fa-fingerprint"></i>
                        </a>
                            
                    </td> {% endcomment %}
                </tr>
                {% endfor %}
        
                <tfoot>
                    <tr>
                        <th>Nombres</th>
                        <th>Apellido(s)</th>
                        <th>Numero INE</th>
                        <!-- <th>Puesta</th> -->
                        {% comment %} <th style="width: 5%;">Opciones</th> {% endcomment %}
                    </tr>
                </tfoot>
        
            </tbody>
        </table>
        </div>
        
{% endblock contenido%}
{% block datatable %}

 {
    text: 'Crear Promovido',
    className: 'btn btn-custom1 mr-2',
    action: function (e, dt, node, config) {
      // Redirigir a la URL relativa a la ubicación actual
      window.location.href = '{% url "crearPromovidos" %}';
   }
  },
  
{% endblock datatable %}
