{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block titulo %}Mapa de Promovidos{% endblock titulo %}
{% block dashboard %}
<a class="btn btn-sm btn-icon1 " href="{% url "menu" %}">
  <i class="fas fa-arrow-left"></i>
</a>
{% endblock dashboard %}
{% block contenido %}

<div class="dashboard-header">
    <h1 class="dashboard-title">Mapa de Promovidos</h1>
</div>    

<div class="card">
    <div class="card-header">
        Filtro de Calles
    </div>
    <div class="card-body">
        <!-- Formulario de filtro por sección -->
      <form method="get" class="form-inline mb-4">

      


          <label for="calleFilter" class="mr-2">Filtrar por Calles:</label>
          <select name="calle" id="calleFilter" class="custom-select mr-2">
              <option value="">Todas las Calles</option>
              {% for calle in calles %}
              <option value="{{ calle.pk }}" {% if request.GET.calle == calle.pk|stringformat:"s" %}selected{% endif %}>{{ calle.nombre }}</option>
              {% endfor %}
          </select>

        <label for="generoFilter" class="mr-2">Filtrar por Género:</label>
      <select name="genero" id="generoFilter" class="custom-select mr-2">
          <option value="">Todos los Géneros</option>
          <option value="Hombre" {% if request.GET.genero == "Hombre" %}selected{% endif %}>Hombre</option>
          <option value="Mujer" {% if request.GET.genero == "Mujer" %}selected{% endif %}>Mujer</option>
      </select>
          <button type="submit" class="btn btn-primary">Filtrar</button>
      </form>

    </div>
</div>


<div class="row">
    <div class="col-lg-4 col-6">
      <!-- small box -->
      <div class="small-box bg-info">
        <div class="inner">
          <h3>{{ contador_global }}</h3>

          <p>Promovidos</p>
        </div>
        <div class="icon">
            <i class="fas fa-users"></i>
        </div>
      </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-4 col-6">
      <!-- small box -->
      <div class="small-box bg-success">
        <div class="inner">
          <h3>{{num_hombres}}<sup style="font-size: 20px"></sup></h3>

          <p>Hombres</p>
        </div>
        <div class="icon">
          <i class="fas fa-male"></i>
        </div>
      </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-4 col-12">
      <!-- small box -->
      <div class="small-box bg-warning">
        <div class="inner">
          <h3>{{num_mujeres}}</h3>

          <p>Mujeres</p>
        </div>
        <div class="icon">
          <i class="fas fa-female"></i>
        </div>
      </div>
    </div>
    <!-- ./col -->

    <!-- ./col -->
  </div>

<div class="card p-3 mt-5">
    <div id="map" style="height: 450px;"></div>
</div>

{% for ubicacion in prospectos %}

{% endfor %}


<!-- Incluye Leaflet desde CDN -->
<link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css">

<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>

<script>
    function initMap() {
        // Crea un mapa en el div con id 'map'
        var map = L.map('map').setView([19.31201411958727, -98.20680856704713], 15);
    
        // Añade un mapa base de OpenStreetMap
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '© OpenStreetMap contributors'
        }).addTo(map);
    
        // Recorre las ubicaciones y añade un marcador para cada una
        {% for ubicacion in prospectos %}
            var marker = L.marker([{{ ubicacion.latitud }}, {{ ubicacion.longitud }}]);
            var popupContent = '<div style="max-width: 200px;">';
            
            {% if ubicacion.foto_promovido %}
                popupContent += '<img src="{{ ubicacion.foto_promovido.url }}" style="width: 100%; height: auto;">';
            {% else %}
                popupContent += '<p>Foto no disponible</p>';
            {% endif %}
    
            popupContent += '<p>{{ ubicacion.nombre }} {{ ubicacion.apellido_paterno }} {{ ubicacion.apellido_materno }}</p></div>';            
            marker.bindPopup(popupContent).addTo(map);
        {% endfor %}

        // Datos GeoJSON para la línea
        var geojsonData = {
            "type": "FeatureCollection",
            "features": [
                {
                    "type": "Feature",
                    "geometry": {
                        "type": "LineString",
                        "coordinates": [
                         [-98.20123198, 19.31151377],
                        [-98.2035597, 19.31293264],
                        [-98.20451643, 19.31383147],
                        [-98.20461624, 19.31514427],
                        [-98.20655179, 19.3172306],
                        [-98.20679604, 19.31805587],
                        [-98.20789661, 19.31855634],
                        [-98.20969443, 19.31909523],
                        [-98.21057149, 19.31846793],
                        [-98.20997856, 19.31776864],
                        [-98.21026228, 19.31710195],
                        [-98.21057698, 19.31530231],
                        [-98.21072532, 19.31522844],
                        [-98.21109956, 19.31324817],
                        [-98.21001144, 19.31255142],
                        [-98.21057966, 19.31095988],
                        [-98.21096914, 19.31102883],
                        [-98.21207767, 19.30862337],
                        [-98.21366755, 19.30651952],
                        [-98.21255402, 19.30582002],
                        [-98.21236492, 19.30597781],
                        [-98.21139235, 19.30541608],
                        [-98.21159109, 19.30516874],
                        [-98.21077406, 19.30493049],
                        [-98.2099546, 19.30450574],
                        [-98.21036405, 19.30393294],
                        [-98.20749579, 19.30228938],
                        [-98.20501961, 19.30569487],
                        [-98.20280425, 19.3043862],
                        [-98.20019732, 19.30818772],
                        [-98.19986488, 19.30822224],
                        [-98.20034034, 19.31010606],
                        [-98.20081742, 19.31107898],
                        [-98.2012279, 19.31150487]
                        ]
                    },
                    "properties": {
                        "name": "alto"
                    }
                }
            ]
        };

        // Añade la capa GeoJSON al mapa
        L.geoJSON(geojsonData, {
            style: function(feature) {
                return { color: 'blue' };
            }
        }).addTo(map);
    }
    
    // Inicializa el mapa
    initMap();
</script>


{% endblock contenido%}