{% extends "base.html" %}
{% load static %}
{% block link %}
    <link rel="stylesheet" href=" {% static 'css/cards/style.css' %}?v1.3s">

{% endblock link %}

{% block contenido %}

    
<!-- Asegúrate de tener esta estructura dentro del cuerpo de tu documento HTML donde quieras mostrar el título y subtítulo -->
<div class="dashboard-header">
    <h1 class="dashboard-title">Centro de Estrategia y Campaña</h1>
    <p class="dashboard-subtitle">Lleva el pulso de tu campaña política al siguiente nivel.</p>
</div>

<style>
.card {
    border-radius: 0.5rem; /* Bordes redondeados para la tarjeta */
    overflow: hidden; /* Asegura que todo dentro de la tarjeta se ajuste a los bordes redondeados */
}



.progress-bar {
    line-height: 25px; /* Centra el texto en la barra de progreso */
    font-weight: bold; /* Hace que el texto del porcentaje sea más grueso */
}

.shadow-sm {
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important; /* Sombra ligera para la tarjeta */
}

.bg-primary {
    background-color: #007bff!important; /* Color de fondo para el encabezado de la tarjeta */
}

.text-white {
    color: #fff!important; /* Texto blanco para el encabezado */
}

.bg-success {
    background-color: #28a745!important; /* Color de la barra de progreso */
}

.fas {
    margin-right: 5px; /* Espacio entre el ícono y el texto */
}



.subtitle-container {
  text-align: center;
  margin: 20px 0;
}

.subtitle {
  font-size: 1.5em; /* Tamaño menor que tu título principal */
  color: #333; /* Asumiendo que quieres mantener el color similar al título principal */
  margin-bottom: 5px; /* Espacio por encima de la línea */
  font-weight: 500;
}

.subtitle-underline {
  width: 40%; /* Ancho más corto que el del título principal para diferenciar */
  margin: 0 auto; /* Centrar la línea debajo del subtítulo */
  border: 2px solid #587F45; /* Color de línea similar al título principal */
}

</style>



{% comment %} <form action="{% url 'send_sms' %}" method="get">
    <button type="submit">Enviar SMS</button>
</form> {% endcomment %}



<div class="row">
  <div class="col-md-3 col-sm-6 col-12">
    <div class="info-box shadow-sm">
      <span class="info-box-icon bg-info"><i class="fas fa-users"></i></span>

      <div class="info-box-content">
        <span class="info-box-text">Prospectos</span>
        <span class="info-box-number">{{prospectos_promovidos}}</span>
      </div>
      <!-- /.info-box-content -->
    </div>
    <!-- /.info-box -->
  </div>
  <!-- /.col -->
  <div class="col-md-3 col-sm-6 col-12">
    <div class="info-box shadow-sm">
      <span class="info-box-icon bg-success"><i class="fas fa-star"></i></span>

      <div class="info-box-content">
        <span class="info-box-text">Promovidos</span>
        <span class="info-box-number">{{prospectos_promovidos}}</span>
      </div>
      <!-- /.info-box-content -->
    </div>
    <!-- /.info-box -->
  </div>
  <!-- /.col -->
  <div class="col-md-3 col-sm-6 col-12">
    <div class="info-box shadow">
      <span class="info-box-icon bg-warning"><i class="fas fa-map-marker-alt"></i></span>

      <div class="info-box-content">
        <span class="info-box-text">Secciones</span>
        <span class="info-box-number">{{total_secciones}}</span>
      </div>
      <!-- /.info-box-content -->
    </div>
    <!-- /.info-box -->
  </div>

  <div class="col-md-3 col-sm-6 col-12">
    <div class="info-box shadow">
      <span class="info-box-icon bg-danger"><i class="fas fa-road"></i></span>

      <div class="info-box-content">
        <span class="info-box-text">Calles</span>
        <span class="info-box-number">{{total_calles}}</span>
      </div>
      <!-- /.info-box-content -->
    </div>
    <!-- /.info-box -->
  </div>
  <!-- /.col -->
 
  <!-- /.col -->
</div>
{% if es_administrador  or es_coordinador_general or es_candidato%}



{% else %}

{% endif %}



    <div class="subtitle-container">
      <h2 class="subtitle">Accesos Directos</h2>
      <hr class="subtitle-underline">
    </div>
  </div>
<div class="container mt-10">
  <div class="row justify-content-center">

    <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 mb-4">
      <div class="card card1 mx-auto">
        <div class="icon">
          <i class="fas fa-users" style="color: #991F40;"></i>
        </div>
        <p class="titulo">Gestión de Usuarios</p>
        <a href="#" class="card-button">Ir</a>
      </div>
    </div>
      
      <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 mb-4">
        <div class="card card1 mx-auto">
          <div class="icon">
            <i class="fas fas fa-search" style="color: #991F40;"></i>
          </div>
          <p class="titulo" >Consulta de Usuarios</p>
          <a href="#" class="card-button">Ir</a>
        </div>
      </div>

      <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 mb-4">
        <div class="card card1 mx-auto">
          <div class="icon">
            <i class="fas fa-map-marker-alt" style="color: #991F40;"></i>
          </div>
          <p class="titulo" >Secciones</p>
          <a href="#" class="card-button">Ir</a>
        </div>
      </div>

      <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 mb-4">
        <div class="card card1 mx-auto">
          <div class="icon">
            <i class="fas fa-chart-pie" style="color: #991F40;"></i>
          </div>
          <p class="titulo" >Estadísticas</p>
          <a href="#" class="card-button">Ir</a>
        </div>
      </div>


      
      <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 mb-4">
        <div class="card card1 mx-auto">
          <div class="icon">
            <i class="fas fa-table" style="color: #991F40;"></i>
          </div>
          <p class="titulo" >Promovidos</p>

          <a href="#" class="card-button">Ir</a>
        </div>
      </div>

      <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 mb-4">
        <div class="card card1 mx-auto">
          <div class="icon">            
            <i class="fas fa-paper-plane" style="color: #991F40;"></i>
          </div>
          <p class="titulo" >Publicidad</p>

          <a href="#" class="card-button">Ir</a>
        </div>
      </div>
      
      

      <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 mb-4">
        <div class="card card1 mx-auto">
          <div class="icon">
            <i class="fas fa-calendar-alt" style="color: #991F40;"></i>
          
          </div>
          <p class="titulo" >Agenda</p>
          <a href="#" class="card-button">Ir</a>
        </div>
      </div>


      <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 mb-4">
        <div class="card card1 mx-auto">
          <div class="icon">
            <i class="fas fa-road" style="color: #991F40;"></i>

          </div>
          <p class="titulo" >Ver Calles</p>
          <a href="#" class="card-button">Ir</a>
        </div>
      </div>
  </div>
</div>





{% endblock contenido %}

{% block script2 %}
<script src="{% static "js/jquery-ui.min.js" %}"></script>
<script src="{% static "js/pages/dashboard.js" %}"></script>

{% endblock script2 %}


