{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block titulo %}Mapa de Publicidad{% endblock titulo %}
{% block dashboard %}
<a class="btn btn-sm btn-icon1 " href="{% url "menu" %}">
  <i class="fas fa-arrow-left"></i>
</a>
{% endblock dashboard %}
{% block contenido %}

<div class="dashboard-header">
    <h1 class="dashboard-title">Mapa de Publicidad</h1>
</div>   

<!-- Card conteniendo el formulario de filtro -->
<div class="card">
    <div class="card-header">
        Filtro de Sección
    </div>
    <div class="card-body">
        <!-- Formulario de filtro por sección -->
        <form method="get" class="form-inline mb-4">
            <label for="seccionFilter" class="mr-2">Filtrar por Sección:</label>
            <select name="seccion" id="seccionFilter" class="custom-select mr-2">
                <option value="">Todas las Secciones</option>
                {% for seccion in secciones %}
                <option value="{{ seccion.pk }}" {% if request.GET.seccion == seccion.pk|stringformat:"s" %}selected{% endif %}>{{ seccion.nombre }}</option>
                {% endfor %}
            </select>
            <button type="submit" class="btn btn-primary">Filtrar</button>
        </form>
    </div>
</div>

<div class="row">
    <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-info">
            <div class="inner">
                <h3>{{ num_cordi_area }}</h3>
                <p>Lonas</p>
            </div>
            <div class="icon">
                <i class="fa-solid fa-tarp"></i>            </div>
        </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-success">
            <div class="inner">
                <h3>{{ num_hombres }}<sup style="font-size: 20px"></sup></h3>
                <p>Paredes</p>
            </div>
            <div class="icon">
                <i class="fas fa-building"></i>           
             </div>
        </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-warning">
            <div class="inner">
                <h3>{{ num_mujeres }}</h3>
                <p>Postes</p>
            </div>
            <div class="icon">
                <i class="fa-solid fa-signs-post"></i>         </div>
        </div>
    </div>
    <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-danger">
            <div class="inner">
                <h3>{{ num_total }}</h3>
                <p>Total</p>
            </div>
            <div class="icon">
                <i class="fa-solid fa-thumbs-up"></i>            </div>
        </div>
    </div>
    <!-- ./col -->
</div>
<div class="card p-3 mt-5 text-center">
    <div class="mb-3">
        <a href="{% url 'crear-publicidad' %}" class="btn btn-custom1" style='background-color: rgb(132, 40, 40); color: white;'>Crear Publicidad</a>
    </div>
    
    <div class="mb-3">
        <a href="{% url 'mapapublicidad' %}" class="btn btn-custom1 {% if not request.GET.tipo %}active{% endif %} mx-2">Todos</a>
        <a href="?tipo=Lona" class="btn btn-custom1 {% if request.GET.tipo == 'Lona' %}active{% endif %} mx-2">Lonas</a>
        <a href="?tipo=Pared" class="btn btn-custom1 {% if request.GET.tipo == 'Pared' %}active{% endif %} mx-2">Paredes</a>
        <a href="?tipo=Poste" class="btn btn-custom1 {% if request.GET.tipo == 'Poste' %}active{% endif %} mx-2">Postes</a>
    </div>


    <div id="map" style="height: 450px;"></div>
</div>
<!-- Incluye Leaflet desde CDN -->
<link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css">
<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>

<script>
    function initMap() {
        var map = L.map('map').setView([{{ candidato_config.latitud }}, {{ candidato_config.longitud }}], 13);
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '© OpenStreetMap contributors'
        }).addTo(map);

        {% for ubicacion in ubicaciones %}
            var marker = L.marker([{{ ubicacion.latitud }}, {{ ubicacion.longitud }}]);
            var popupContent = '<div style="max-width: 200px;">';

            {% if ubicacion.foto %}
                popupContent += '<img src="{{ ubicacion.foto.url }}" style="width: 100%; height: auto;">';
            {% else %}
                popupContent += '<p>Foto no disponible</p>';
            {% endif %}

            popupContent += '<p>{{ ubicacion.comentarios }}</p>'+'<p>{{ ubicacion.tipo }}</p>' +
                '</div>';
            marker.bindPopup(popupContent).addTo(map);
        {% endfor %}
    }

    initMap();
</script>

{% endblock contenido %}
