{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block titulo %}Crear Promovido{% endblock titulo %}
{% block link %}
<link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css">
<link rel="stylesheet" href="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.css" />

{% endblock link %}

{% block dashboard %}
<a class="btn btn-sm btn-icon1 " href="{% url "lista_promovidos" %}">
  <i class="fas fa-arrow-left"></i>
</a>
{% endblock dashboard %}

{% block contenido %}
<style>
    .mensaje-error {
        display: block; /* Asegura que el mensaje ocupe una línea completa */
        margin-top: 5px; /* Espacio superior para separarlo de otros elementos */
        font-size: 14px; /* Tamaño de fuente */
        font-weight: bold; /* Texto en negrita para hacerlo más notorio */
    }
    .btn-info {
        background-color: #5bc0de; /* Color de fondo del botón */
        border-color: #5bc0de; /* Color del borde del botón */
        color: #fff; /* Color del texto del botón */
    }
    #circuloResaltador {
        position: absolute;
        background-color: transparent;
        border: 5px solid #ff0000; /* color del círculo (rojo en este caso) */
        border-radius: 50%;
        width: 210px; /* ancho del círculo */
        height: 60px; /* altura del círculo */
        display: none; /* inicialmente oculto */
        top: 59%; /* posición vertical centrada */
        left: 66%; /* posición horizontal centrada */
        transform: translate(-50%, -50%); /* centrar el círculo */
    }
    @media (max-width: 767px) {
        #circuloResaltador {
            position: absolute;
            background-color: transparent;
            border: 5px solid #ff0000; /* color del círculo (rojo en este caso) */
            border-radius: 50%;
            width: 210px; /* ancho del círculo */
            height: 60px; /* altura del círculo */
            display: none; /* inicialmente oculto */
            top: 55%; /* posición vertical centrada */
            left: 75%; /* posición horizontal centrada */
            transform: translate(-50%, -50%); /* centrar el círculo */
        }
    }
    @media (max-width: 400px) {
        #circuloResaltador {
            position: absolute;
            background-color: transparent;
            border: 5px solid #ff0000; /* color del círculo (rojo en este caso) */
            border-radius: 50%;
            width: 166px; /* ancho del círculo */
            height: 55px; /* altura del círculo */
            display: none; /* inicialmente oculto */
            top: 52%; /* posición vertical centrada */
            left: 75%; /* posición horizontal centrada */
            transform: translate(-50%, -50%); /* centrar el círculo */
        }
    }
</style>
<div class="dashboard-header">
    <h1 class="dashboard-title">Crear Promovido</h1>
</div>

<form method="post" enctype="multipart/form-data" class="card p-3 mt-5">
    {% csrf_token %}
    {% if form.non_field_errors %}
    <div class="alert alert-danger">
        {% for error in form.non_field_errors %}
            {{ error }}
        {% endfor %}
    </div>
    {% endif %}

    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-6 position-relative">
            {{ form.numeroINE|as_crispy_field }}
            <span id="numeroINE-error" class="text-danger mensaje-error"></span>
            <button type="button" class="btn  position-absolute end-0 top-50 translate-middle-y" data-toggle="modal" data-target="#ayudaModal" style="margin-top: 9px;" >
                <i class="fas fa-question-circle fa-lg" style="color: #6E282D;" data-title="Ayuda"></i> 
            </button>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4">
            {{form.nombre|as_crispy_field}}
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4">
            {{form.apellido_paterno|as_crispy_field}}
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4">
            {{form.apellido_materno|as_crispy_field}}
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4">
            {{form.alias|as_crispy_field}}
        </div>
    </div> 
    <div class="row">
        <div class="col-sm-12 col-md-4 col-lg-4">
            {{form.genero|as_crispy_field}}
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4">
            {{form.fechaNacimiento|as_crispy_field}}
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4">
            {{form.ocupacion|as_crispy_field}}
        </div>
    </div>     
    <div class="row">
    
        <div class="col-sm-12 col-md-4 col-lg-4">
            {{form.calle|as_crispy_field}}
        </div>
          <div class="col-sm-12 col-md-6 col-lg-6">
            {{form.numeroCasa|as_crispy_field}}
        </div>
    </div>     
    <div class="row">
        <div class="col-sm-12 col-md-4 col-lg-4">
            {{form.celular|as_crispy_field}}
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4">
            {{form.telefono|as_crispy_field}}
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4">
            {{form.email|as_crispy_field}}
        </div>
    </div>    
    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-6">
            {{form.tipo_solicitud|as_crispy_field}}
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6">
            {{form.detalle_solicitud|as_crispy_field}}
        </div>
      
    </div>    
    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-6">
            {{form.problema_tipo|as_crispy_field}}
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6">
            {{form.detalle_problema|as_crispy_field}}
        </div>
      
    </div> 
    <div class="row">
        <div class="col-sm-12 col-md-4 col-lg-4">
            {{form.foto_promovido|as_crispy_field}}
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4">
            {{form.foto_ine_frontal|as_crispy_field}}
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4">
            {{form.foto_ine_reverso|as_crispy_field}}
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4">
            {{form.votoSeguro|as_crispy_field}}
        </div>
    </div>       
    <div class="row">
       
        <div class="col-sm-12 col-md-4 col-lg-4">
            {{form.latitud|as_crispy_field}}
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4">
            {{form.longitud|as_crispy_field}}
        </div>
    </div>     
        <div class="form-group">
            <button type="button" class="btn btn-primary" id="botonAbrirModal">Seleccionar en Mapa</button>
        </div>


        <button class="btn btn-custom float-end btn-success" type="submit">Guardar</button>
        <br>
        <a href="{% url 'lista_prospectos' %}" class="btn btn-custom1" style='background-color: rgb(132, 40, 40); color: white;'>Cancelar</a>

</form>

<!-- Modal para el mapa -->
<div class="modal fade" id="mapModal" tabindex="-1" role="dialog" aria-labelledby="mapModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="mapModalLabel">Mapa</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- Div para el mapa en el modal -->
                <div id="mapModalContent" style="height: 400px; position: relative;">
                    <div id="loadingIndicator" class="text-center" style="display: none; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
                        <i class="fa fa-spinner fa-spin fa-3x" style="color: #6E282D;"></i>
                    </div>
                </div>
            </div>
            
            <div class="modal-footer">
                <button id="btnObtenerUbicacion" class="btn btn-info">Obtener Ubicación Actual</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">Aceptar</button>

            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="ayudaModal" tabindex="-1" role="dialog" aria-labelledby="ayudaModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header" style='background: #587F45;'>
                <h5 class="modal-title" id="ayudaModalLabel" style='color:white'>Ayuda para llenar el campo 'Número de INE'</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" style='color:white'>
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-center">
                <!-- Contenido del modal: imagen, texto, etc. -->
                <img src="{% static 'img/creden.jpeg' %}" alt="Ayuda" class="img-fluid" style='width=320px; height:300px'>
                <div id="circuloResaltador"></div>
                <h4 class="mt-3" >  <strong>Captura los 13 dígitos que se resaltan en la imagen superior del 'INE'. </strong></h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>


<!-- Contenido del formulario aquí, similar a tu ejemplo anterior -->
{% endblock contenido %}
{% block script1 %}


<!---    SCRIPTS IMPORTTANTES -->

<!---    SCRIPTS IMPORTTANTES -->
<script src="{% static "plugins/jquery/jquery.min.js" %}"></script>
<script src="{% static "dist/js/adminlte.js" %}"></script>
<!--- .................................................  -->


<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.js"></script>

<script>
var currentCalleData;
var mapModal;
var marker;

    function recargarMapa() {
        if (mapModal) {
            mapModal.remove();
        }
        if (currentCalleData) {
            initMapModal(currentCalleData.lat, currentCalleData.lng, currentCalleData.ruta);
        } else {
            // Aquí puedes manejar el caso de no tener datos de calle seleccionada
            console.log('No hay datos de calle seleccionada para recargar el mapa');
        }
    }
    document.addEventListener('DOMContentLoaded', function() {
        var calleSelect = document.getElementById('id_calle');
        var seccionesCoords = {{ secciones_coords|safe }};
        var botonAbrirModal = document.getElementById('botonAbrirModal');
        var mapModalElement = document.getElementById('mapModalContent');
        var rutaLayer;
        var currentCalleData;

        calleSelect.addEventListener('change', function() {
            var calleId = this.value;
            var calleData = seccionesCoords[calleId];

            if (calleData) {
                currentCalleData = calleData; // Almacenar el último calleData seleccionado

                actualizarMapa(calleData.lat, calleData.lng, calleData.ruta);
            }
        });

        function actualizarMapa(lat, lng, ruta) {
            if (mapModal && marker) {
                var nuevaUbicacion = new L.LatLng(lat, lng);
                mapModal.setView(nuevaUbicacion, 16);
            }

            if (rutaLayer) {
                mapModal.removeLayer(rutaLayer);
            }

            if (ruta && ruta !== "") {
                var rutaFormateada = JSON.parse(ruta).map(punto => [punto.lat, punto.lng]);
                rutaLayer = L.polyline(rutaFormateada, {color: 'red'}).addTo(mapModal);
                mapModal.fitBounds(rutaLayer.getBounds());
            }
        }


        botonAbrirModal.addEventListener('click', function() {
            var calleId = calleSelect.value;
            if (!calleId) {
                Swal.fire({
                    title: 'Error',
                    text: 'Por favor selecciona una calle',
                    icon: 'error',
                    confirmButtonText: 'Ok'
                });
            } else {
                var coords = seccionesCoords[calleId];
                if (coords) {
                    $('#mapModal').modal('show');
                }
            }
        });

        $('#mapModal').on('shown.bs.modal', function () {
            var calleId = calleSelect.value;
            var calleData = seccionesCoords[calleId];
            if (calleData) {
                initMapModal(calleData.lat, calleData.lng, calleData.ruta);
            }
        });

        var mapModal;
        var marker;

        function recargarMapa() {
            if (mapModal) {
                mapModal.remove();
            }
            if (currentCalleData) {
                initMapModal(currentCalleData.lat, currentCalleData.lng, currentCalleData.ruta);
            } else {
                // Manejar el caso donde no se ha seleccionado ninguna calle
                // Podrías establecer una ubicación predeterminada o simplemente no hacer nada
            }
        }

    function initMapModal(lat, lng, ruta) {
        console.log('Ruta recibida:', ruta); // Esto mostrará los datos de la ruta en la consola del navegador

        if (!mapModal) {
            mapModal = L.map(mapModalElement).setView([lat, lng], 16);
            configurarMapa();
            cargarGeoJson();  // Cargar GeoJSON al inicializar el mapa
        } else {
            mapModal.setView([lat, lng], 16);
        }

        if (rutaLayer) {
            mapModal.removeLayer(rutaLayer); // Elimina la ruta anterior si existe
        }

        if (ruta && ruta !== "") {
            var rutaFormateada = JSON.parse(ruta).map(punto => [punto.lat, punto.lng]);
            rutaLayer = L.polyline(rutaFormateada, {color: 'red'}).addTo(mapModal);
            mapModal.fitBounds(rutaLayer.getBounds());
        }
    }


    

        function configurarMapa() {
            L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                attribution: '© OpenStreetMap contributors'
            }).addTo(mapModal);

            mapModal.on('click', function(e) {
                if (marker) {
                    mapModal.removeLayer(marker);
                }
                marker = L.marker([e.latlng.lat, e.latlng.lng]).addTo(mapModal);
                document.getElementById('id_latitud').value = e.latlng.lat;
                document.getElementById('id_longitud').value = e.latlng.lng;
            });
        }

        document.getElementById('btnObtenerUbicacion').addEventListener('click', obtenerUbicacionActual);

        function obtenerUbicacionActual() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(function(position) {
                    var latitud = position.coords.latitude;
                    var longitud = position.coords.longitude;
                    // Coloca el marcador en la ubicación actual
                    if (marker) {
                        mapModal.removeLayer(marker);
                    }
                    marker = L.marker([latitud, longitud]).addTo(mapModal);
                    mapModal.setView([latitud, longitud], 16);
        
                    // Actualiza los campos de latitud y longitud con la ubicación actual
                    document.getElementById('id_latitud').value = latitud;
                    document.getElementById('id_longitud').value = longitud;
                }, function() {
                    alert('Error al obtener la ubicación');
                });
            } else {
                alert('Tu navegador no soporta Geolocalización');
            }
        }

        function cargarGeoJson() {
    var geojsonData = {
        "type": "FeatureCollection",
        "features": [
            {
                "type": "Feature",
                "geometry": {
                    "type": "LineString",
                    "coordinates": [
      [-98.20123198, 19.31151377],
                        [-98.2035597, 19.31293264],
                        [-98.20451643, 19.31383147],
                        [-98.20461624, 19.31514427],
                        [-98.20655179, 19.3172306],
                        [-98.20679604, 19.31805587],
                        [-98.20789661, 19.31855634],
                        [-98.20969443, 19.31909523],
                        [-98.21057149, 19.31846793],
                        [-98.20997856, 19.31776864],
                        [-98.21026228, 19.31710195],
                        [-98.21057698, 19.31530231],
                        [-98.21072532, 19.31522844],
                        [-98.21109956, 19.31324817],
                        [-98.21001144, 19.31255142],
                        [-98.21057966, 19.31095988],
                        [-98.21096914, 19.31102883],
                        [-98.21207767, 19.30862337],
                        [-98.21366755, 19.30651952],
                        [-98.21255402, 19.30582002],
                        [-98.21236492, 19.30597781],
                        [-98.21139235, 19.30541608],
                        [-98.21159109, 19.30516874],
                        [-98.21077406, 19.30493049],
                        [-98.2099546, 19.30450574],
                        [-98.21036405, 19.30393294],
                        [-98.20749579, 19.30228938],
                        [-98.20501961, 19.30569487],
                        [-98.20280425, 19.3043862],
                        [-98.20019732, 19.30818772],
                        [-98.19986488, 19.30822224],
                        [-98.20034034, 19.31010606],
                        [-98.20081742, 19.31107898],
                        [-98.2012279, 19.31150487]                    ]
                },
                "properties": {
                    "name": "Colonia El Alto"
                }
            }
            // ... puedes añadir más características aquí ...
        ]
    };

    var geoJsonLayer = L.geoJSON(geojsonData, {
        style: function(feature) {
            return { color: 'blue' }; // Puedes personalizar el estilo aquí
        },
        onEachFeature: function(feature, layer) {
            // Puedes añadir un popup o interactividad si lo necesitas
            if (feature.properties && feature.properties.name) {
                layer.bindPopup(feature.properties.name);
            }
        }
    }).addTo(mapModal);
}
    });




    


    
</script>



<script>
    jQuery(document).ready(function() {
        var numeroINEInput = jQuery('#id_numeroINE');
        var numeroINEError = jQuery('#numeroINE-error');

        var verificacionInterval;

        numeroINEInput.on('input', function() {
            clearInterval(verificacionInterval);

            var numeroINEValue = numeroINEInput.val();

            if (numeroINEValue.length === 13) {
                verificacionInterval = setInterval(function() {
                    jQuery.ajax({
                        url: '{% url "verificar_numero_ine" %}',
                        method: 'POST',
                        data: { 'numeroINE': numeroINEValue },
                        success: function(data) {
                            if (data.existe) {
                                numeroINEError.text('¡Este número de INE ya existe!');
                            } else {
                                numeroINEError.text('');
                            }
                        },
                        error: function() {
                            console.error('Error al verificar el número de INE.');
                        }
                    });
                }, 1000);
            } else {
                numeroINEError.text('');
            }
        });
    });
</script>

<script>
    $(document).ready(function () {
        var circuloResaltador = $('#circuloResaltador');

        function mostrarCirculo() {
            circuloResaltador.fadeIn(500).delay(500).fadeOut(500);
        }

        var intervalo = setInterval(mostrarCirculo, 1000);

        var repeticiones = 30;
        setTimeout(function () {
            clearInterval(intervalo);
            circuloResaltador.hide();
        }, repeticiones * 2000);
    });
</script>

<script>
    $(document).ready(function() {
      $('#date').on('input', function() {
        // Eliminar cualquier carácter que no sea número y añadir slashes automáticamente
        var value = $(this).val();
        var newValue = value.replace(/[^0-9]/g, '')
                            .replace(/(\d{2})(\d{2})?(\d{4})?/, function(match, p1, p2, p3) {
                              var dateStr = p1;
                              if(p2) {
                                dateStr += '/' + p2;
                              }
                              if(p3) {
                                dateStr += '/' + p3;
                              }
                              return dateStr;
                            })
                            .substring(0, 10);  // Limita la longitud a 10 caracteres: DD/MM/YYYY
  
        // Si el valor nuevo es diferente al valor actual, actualiza el campo de fecha
        if (newValue !== value) {
          $(this).val(newValue);
        }
  
        // Calcula la edad y actualiza el campo de edad
        var dob = $(this).val();
        if (dob && dob.length === 10) {
          var parts = dob.split('/');
          var birthDate = new Date(parts[2], parts[1] - 1, parts[0]);
          var today = new Date();
          var age = today.getFullYear() - birthDate.getFullYear();
  
          // Comprueba si ya pasó el cumpleaños de este año
          if (today.getMonth() < birthDate.getMonth() || 
              (today.getMonth() === birthDate.getMonth() && today.getDate() < birthDate.getDate())) {
            age--;
          }
  
          // Actualiza el campo de edad si es una fecha válida
          if (!isNaN(age)) {
            $('#id_edad').val(age);
          } else {
            $('#id_edad').val(''); // Fecha no válida
          }
        } else {
          // Si la fecha de nacimiento no es válida o no está completa, deja el campo de edad en blanco
          $('#id_edad').val('');
        }
      });
    });



  </script>

  <script>
    document.addEventListener('DOMContentLoaded', function () {
        var nombreInput = document.querySelector('[name="nombre"]');
        var apellido_paterno = document.querySelector('[name="apellido_paterno"]');
        var apellido_materno = document.querySelector('[name="apellido_materno"]');
        var detalle_solicitud = document.querySelector('[name="detalle_solicitud"]');
        var detalle_problema = document.querySelector('[name="detalle_problema"]');

        var descripcionInput = document.querySelector('[name="descripcion"]'); // Selector para el campo descripción

        function convertirAMayusculas(elemento) {
            if (elemento) {
                elemento.addEventListener('input', function() {
                    this.value = this.value.toUpperCase();
                });
            }
        }

        convertirAMayusculas(nombreInput);
        convertirAMayusculas(apellido_paterno);
        convertirAMayusculas(apellido_materno);
        convertirAMayusculas(detalle_solicitud);
        convertirAMayusculas(detalle_problema);

    });
</script>



{% endblock script1 %}

